footer{
    background-color: green;
    color: white;
    .contact{
        margin-top: 10px;
        padding-top: 10px;
        width: 300px;
        height: 200px;
        border: 3px solid white;
        transform: translate(20px, 0px);
    }
    .contact-phone, .contact-adress, .contact-email{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 10px;
        font-size: 12px;
        i{
            margin-bottom: 10px;
        }
    }
    .openingstijden{
        width: 300px;
        height: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-bottom: 5px;
        border: solid white 3px;
        transform: translate(20px, 0px);
        h3{
            font-size: 18px;
            padding-bottom: 5px;
        }
        i{
            margin: 15px;
        }
        p{
            padding: 5px;
        }
        .day{
            text-decoration: underline;
        }
    }
    .copyright{
        font-size: 10px;
        margin: 5px;
        padding: 3px;
        i{
            margin-right: 5px;
        }
    }
}
@media only screen and (min-width: 767px) {
 footer{
     .contact{
         height: auto;
         width: 500px;
         transform: translate(150px, 0px);
         margin-bottom: 5px;
     }
     .contact-phone, .contact-adress, .contact-email{
            font-size: 25px;
            padding-bottom: 10px;
            display: flex;
            flex-direction: column;
            margin: 10px;
            i, p{
                padding: 10px;
            }
        }
        .contact-email{
            padding-bottom: 10px;
            p{
                padding: 10px;
            }
        }
        .openingstijden{
            width: 500px;
            height: auto;
            transform: translate(150px, 0px);
            margin-bottom: 5px;
            h3{
                font-size: 25px;
                padding: 10px;
            }
            i {
                font-size: 35px;
                padding: 10px;
            }
            p{
                font-size: 20px;
                padding: 10px;
            }
        }
        .copyright{
            font-size: 15px;
            padding: 5px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            overflow: hidden;
        }
    }
    
}

@media only screen and (min-width: 1020px) {
    footer{
        margin-top: 20px;
        display: grid;
        grid-template-columns: 550px 550px;
        grid-template-rows: auto;
        grid-template-areas: 
        'contact opening'
        'copyr copyr';
        .contact{
            grid-area: contact;
        }
        .openingstijden{
            grid-area: opening;
        }
        .copyright{
            grid-area: copyr;
            p, i{
                padding: 5px;
            }
        }
    }
}
