main{
    margin-top: 10px;
    h1{
        font-size: 18px;
    }
    p{
        font-size: 12px;
        text-align: center;
    }
   .info-icons {
       background-color: $buttonColor;
       color: $ligth;
       margin-top: -5px;
       padding-top: 5px;
       padding-bottom: 5px;
   }
   .reviews {
       h1 {
           font-size: 18px;
           margin-top: 10px;
       }
       article {
           border: solid 2px green;
           margin: 20px;
           width: 300px;
           height: 200px;
           

           #quote {
               font-size: 15px;
           }
           h2, h3 {
               font-size: 14px;
           }
       }
   }
   .team-title{
       h1 {
        font-size: 15px;
        margin-top: 5px;
    }
   }

   .row {
       display: flex;
       flex-direction: column;
       margin-left: 20px;
   }
   .column{
       border: 3px solid green;
       margin: 20px 0px;
       width: 300px;
       height: 300px;
       overflow-y: hidden;
      
   }
   .card{
       background-color: $limegreen;
       color: white;
       height: 295px;
        
   }
   .card-container{
       background-color: $buttonColor;
       transform: translate(0px, -80px);
       h2{
           font-size: 18px;
       }
       .card-title{
           font-size: 15px;
       }
       p{
           font-size: 11px;
       }
   } 
   .guusje img{
       height: 210px;
   }   
}