main{
    margin-top: 10px;
    h1{
        font-size: 18px;
    }
    p{
        font-size: 12px;
        text-align: center;
    }
   .info-icons {
       background-color: $buttonColor;
       color: $ligth;
       margin-top: -5px;
       padding-top: 5px;
       padding-bottom: 5px;
   }
   .reviews {
       h1 {
           font-size: 18px;
           margin-top: 10px;
       }
       article {
           border: solid 2px green;
           margin: 20px;
           width: 300px;
           height: 200px;
           

           #quote {
               font-size: 15px;
           }
           h2, h3 {
               font-size: 14px;
           }
       }
   }
   .team-title{
       h1 {
        font-size: 15px;
        margin-top: 5px;
    }
   }

   .row {
       display: flex;
       flex-direction: column;
       margin-left: 20px;
   }
   .column{
       border: 3px solid green;
       margin: 20px 0px;
       width: 300px;
       height: 300px;
       overflow-y: hidden;
      
   }
   .card{
       background-color: $limegreen;
       color: white;
       height: 295px;
        
   }
   .card-container{
       background-color: $buttonColor;
       transform: translate(0px, -80px);
       h2{
           font-size: 18px;
       }
       .card-title{
           font-size: 15px;
       }
       p{
           font-size: 11px;
       }
   } 
   .main-about{
       article{
           p{
               font-size: 11px;
               padding: 0px;
           }
       }
       .team{
       .duncan, .rina, .guusje{
                    width: 100%;
                }
            }
   }  
}

@media only screen and (min-width: 767px) {
    
    main{
        h1{
            font-size: 30px;
            padding: 10px;
        }
        p{
            font-size: 20px;
        }
        img{
            margin-top: 10px;
        }
        .info-icons{
            width: auto;
            height: auto;
            font-size: 30px;
            i{
                padding-top: 5px;
                font-weight: bold;
            }
            p{
                padding: 5px;
            }
        }
        .reviews{
            h1{
                font-size: 30px;
                padding: 10px;
            }
            article{
                margin-left: 150px;
                width: 500px;
                height: auto;
                text-align: center;
                padding: 20px;

                #quote, h2, h3{
                    font-size: 20px;
                    padding: 5px;
                }
                p{
                    font-size: 20px;
                    padding: 10px;
                }

            }
        }
        .team-title{
            h1{
                font-size: 30px;
                padding: 10px;
            }
        }
        .row{
            margin-left: 150px;
        }
        .column{
            width: 500px;
            height: 500px;
            overflow: hidden;
        }
        .card{
            height: 495px;
        }
        .card-container{
            transform: translate(0px, -125px);
            color: white;
            h2{
                font-size: 30px;
                padding: 5px;
            }
            .card-title{
                font-size: 25px;
                padding: 5px;
            }
            p{
                font-size: 20px;
                padding: 5px;
            }
        }
}
.main-about{
        article{
            p{
                font-size: 15px;
            }
        }
        .main-about{
        .team{
            display: grid;
            grid-template-columns: 300px 300px;
            grid-template-rows: 100px 400px 400px;
            grid-template-areas: 
            'title title'
            'duncan duncan'
            'rina guusje';
            h1{
                grid-area: title;
            }
            .dentist{
                grid-area: duncan;
            }
            .assistant1{
                grid-area: rina;
            }
            .assistant2{
                grid-area: guusje;
            }
        }
        
    }
        
}
}

@media only screen and (min-width: 1020px) {
    main{
        .info-text{
            p{
                padding: 5px;
            }
        }
        .info img{
            width: 50%;
        }
        .info-icons{
            width: 50%;
            margin-left: 380px;
            margin-top: 20px;
        }

        .reviews{
            display: grid;
            grid-template-columns: 550px 550px;
            grid-template-rows: auto;
            grid-template-areas:  
            'title title'
            'review1 review2'
            'review3 review4'
            ;
        }
            .review-title{
                grid-area: title;
                transform: translate(200px, 0px);
            }
            .review1{
                grid-area: review1;
                
            }
            .review2{
                grid-area: review2;
                
            }
            .review3{
                grid-area: review3;
                
            }
            .review4{
                grid-area: review4;
        }
        .row{
            display: grid;
            grid-template-columns: 550px 600px;
            grid-template-rows: 520px 520px;
            grid-template-areas: 
            'duncan duncan'
            'rina guusje';
            h2{
                padding: 10px;
            }
        }
        .duncan{
            grid-area: duncan;
            transform: translate(300px, 0px);
        }
        .rina{
            grid-area: rina;
        }
        .guusje{
            grid-area: guusje;
        }
    }
    .main-about{
        .team{
            display: grid;
            grid-template-columns: 300px 300px;
            grid-template-rows: 100px 400px 400px;
            grid-template-areas: 
            'title title'
            'duncan duncan'
            'rina guusje';
            h1{
                grid-area: title;
            }
            .dentist{
                grid-area: duncan;
            }
            .assistant1{
                grid-area: rina;
            }
            .assistant2{
                grid-area: guusje;
            }
        }
        
    }
    .contact-main{
        h3, p{
            padding: 5px;
        }
    }
}